<!--
Student Number : 301152761
Student Name: Sujatha Mohanram
Midterm : 1

-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <!-- CSS SECTION -->
    <link
      rel="stylesheet"
      href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css"
    />
    <link
      rel="stylesheet"
      href="/Scripts/lib/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/Content/app.css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-ex1-collapse"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"
          ><i class="fa fa-car fa-lg"></i> My Favourite Cars</a
        >
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if(title == "Home") { %>
          <li class="active">
            <a href="/"><i class="fa fa-home fa-lg"></i> Home</a>
          </li>
          <% } else { %>
          <li>
            <a href="/"><i class="fa fa-home fa-lg"></i> Home</a>
          </li>
          <% } %> <% if(title == "cars") { %>
          <li class="active">
            <a href="/cars"><i class="fa fa-car fa-lg"> </i> Cars List</a>
          </li>
          <% } else { %>
          <li>
            <a href="/cars"><i class="fa fa-car fa-lg"> </i> Cars List</a>
          </li>
          <% } %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </body>
</html>

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <h1><%= title %></h1>
      <form class="form" method="post">
        <div class="form-group">
          <label for="NameTextField">Car Name</label>
          <input
            type="text"
            class="form-control"
            id="NameTextField"
            placeholder="Car Name"
            name="Carname"
            value="<%= car.Carname %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="CatTextField">Category</label>
          <input
            type="text"
            class="form-control"
            id="CatTextField"
            placeholder="car Category"
            name="Category"
            value="<%= car.Category %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="ModelTextField">Car Model</label>
          <input
            type="text"
            class="form-control"
            id="ModelTextField"
            placeholder="Car Model"
            name="Carmodel"
            value="<%= car.Carmodel %>"
            required
          />
        </div>

        <div class="form-group">
          <label for="PriceTextField">Price</label>
          <input
            type="text"
            class="form-control"
            id="PriceTextField"
            placeholder="Car Price"
            name="Price"
            value="<%= car.Price %>"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary">
          <i class="fa fa-check-square-o"></i> Submit
        </button>
        <a href="/cars" class="btn btn-warning"
          ><i class="fa fa-undo"></i> Cancel</a
        >
      </form>
    </div>
  </div>
</div>



<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; 2022 All Rights Reserved.</h4>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>
