<!--
Student Number : 301152761
Student Name: Sujatha Mohanram
Midterm : 1

-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <!-- CSS SECTION -->
    <link
      rel="stylesheet"
      href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css"
    />
    <link
      rel="stylesheet"
      href="/Scripts/lib/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/Content/app.css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target=".navbar-ex1-collapse"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"
          ><i class="fa fa-car fa-lg"></i> My Favourite Cars</a
        >
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if(title == "Home") { %>
          <li class="active">
            <a href="/"><i class="fa fa-home fa-lg"></i> Home</a>
          </li>
          <% } else { %>
          <li>
            <a href="/"><i class="fa fa-home fa-lg"></i> Home</a>
          </li>
          <% } %> <% if(title == "cars") { %>
          <li class="active">
            <a href="/cars"><i class="fa fa-car fa-lg"> </i> Cars List</a>
          </li>
          <% } else { %>
          <li>
            <a href="/cars"><i class="fa fa-car fa-lg"> </i> Cars List</a>
          </li>
          <% } %>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
 

<!-- MAIN CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3>Favourite Cars List</h3>
      <!-- ------------------------ -->
      <!-- FIX THE ADD BUTTON BELOW -->
      <!-- ------------------------ -->
      <a href="/cars/add" class="btn btn-primary"
        ><i class="fa fa-plus"></i> Add a car</a
      >
      <br />
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Car Name</th>
              <th class="text-center">Car Model</th>
              <th class="text-center">Category</th>
              <th class="text-center">Price</th>
              <th class="text-center"></th>
               </tr>
          </thead>
          <tbody>
            <!-- Template Row -->
            <% for (let count = 0; count < cars.length; count++) { %>
            <tr>
              <td><%= cars[count].Carname %></td>

              <td class="text-center"><%= cars[count].Category %></td>
              <td class="text-center"><%= cars[count].Carmodel %></td>
              <td class="text-center"><%= cars[count].Price %></td>

              <td class="text-center">
                <p><a href="/cars/details/<%=cars[count]._id%>" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i> Edit</a></p>
              </td>
              <td class="text-center">
              <p><a href="/cars/delete/<%=cars[count]._id%>" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Delete</a></p>
              </td>
            </tr>
            <% } %>
            <form action="/cars/delete" method="get">
            <tr>
              <td><p><label for="Carname">Car Name</label></p></td>
              <td>                    <p><input type="Carname"
                id="Carname"
                name="Carname"
                class="form-control"
                placeholder="Enter Car Name"
                value=""
                 /></p></td>
              <td><p><label for="Price">Price</label></p></td>
              <td><p><input
                type="number"
                id="Price"
                name="Price"
                class="form-control"
                placeholder="Enter Price"
                value=""
                /></p></td>
              <td> <button type="submit" class="btn btn-warning btn-sm btn-block">
                <i class="fas fa-trash"></i> Delete</td>
            </tr>
          </form>
          </tbody>
        </table>
      </div>
      <!-- ------------------------ -->
                <!--FIX the DELETE BUTTON HERE -->
                <!-- ------------------------ -->
     
    </main>
      <div class="col-md-offset-1 col-md-10 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
      
    </div>
  </div>
</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; 2022 All Rights Reserved.</h4>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>

